# Dependencies
node_modules/
.pnpm-store/

# Environment and secrets
.env
.env.*
!.env.example
*.pem
*.key

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Mobile specific
.expo/
android/
ios/
*.ipa
*.apk

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS and Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Storage & local runtime data
minio_data/
postgres_data/
redis_data/
